h1 {
  color: rgb(163, 19, 96);
  margin-left: 5%;
}

body {
  background-image: url("images/kawaii-unicorn-cute-3840x2160-10121.png");
  background-color: #cccccc;
  font-size: large;
  font-family: "Courier New";
  }

textarea {
  resize: none;
}

#fullname {
  margin-left: 3%;
}

#fname {
  margin-left: 3%;
}

#lb {
  margin-left: 45%;
}

form fieldset {
  margin-bottom: 5%;
  width: 40%;
}

