h1 {
  color: rgb(19, 97, 20);
  margin-left: 5%;
}

body {
  background-image: url("images/kawaii-unicorn-cute-3840x2160-10121.png");
  background-color: #cccccc;
 }

form div
{
  margin: 3% 3%;
}

body {
  font-family: "Courier New"
}

#center {
  text-align: center;
}